* {
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: auto;
}

body {
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    margin: 30px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.5);
}

.side--navbar {
    margin: 30px;
    padding: 2rem;
    background: slategray;
    display: inline-block;
    height: 50vh;
    z-index: 100;
    overflow: auto;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.side--navbar__links {
    color: white;
}

.side--navbar__links:hover,
.side--navbar__links:active {
    color: firebrick;
    text-decoration: none;
}

.carousel--container {
    margin: 100px;
    text-align: center;
    z-index: 0;
}

img {
    width: 400px;
    height: 300px;
    padding: 5px;
    background: lightslategray;
    border: 2px solid firebrick;
    border-radius: 1rem;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
    